<div class="container">
  <div class="row col-xs-3">
    <!-- Treść -->
  </div>
  <div class="row col-xs-6 page-header login" id="content">
    Ekran logowaniaSAD
  </div>
  <div class="row col-xs-3">
    <!-- Zdjęcia -->
  </div>
</div>
</div>