<!DOCTYPE html>
<html lang="pl">
<head>
    {{>head}}
    <title>Hotel</title>
</head>
<body>

    {{>bsnavbar}}

    <div class="container" id="content">

        {{{body}}}
    </div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/script/main.js"></script>

</body>
</html>