body{
    background-color: #000!important;
    overflow: hidden;
}
#errTitle{
    display: none;
}
#errText{
    display: none;
    position: fixed;
    top:500px;
    left: 500px;
    z-index: 100;
    color: white;
    font-size: 76px;
}