<div class="page-header">
    <h3>Welcome on my website!</h3>
    Baza danych hotelu, która zawiera informacje dotyczące gości rezerwujących pobyt w hotelu, usług oferowanych przez hotel, dostępności pokoi, płatności o raz możliwości uzyskania rabatów.
<br/>
    Baza umożliwia dostęp do informacji:<br/>
    - rezerwacje zaczynające się i kończące w zadanym okresie czasu,<br/>
    - dane osobowe gości hotelu<br/>
    - dostępności konkretnych pokoi w podanym okresie czasu<br/>
    - kwota do zapłaty za daną rezerwację z uwzględnieniem wszystkich usług, rabatów oraz ewentualnych należności za wyrządzone szkody.
    <br/><br/>
    Założenia bazy:<br/>
    - klienci mogą korzystać z dowolnej ilości usług<br/>
    - płatność dokonywana jest na koniec pobytu w hotelu<br/>
    <br/><br/><br/>

    Projekt bazy, normalizacja, sprawozdanie (schemat bazy danych, normalizacja, opis bazy danych, omówienie tabel)
</div>