{{>incorrectForm}}
<form class="form-horizontal" role="form" method="POST"
      action="/reservationAdd/?form=reservationAdd">
    <div class="form-group">
        <label for="fieldClientId" class="col-sm-2 control-label"> Client id
        </label>
        <div class="col-sm-4">
            <input type="number" required class="form-control" id="fieldClientId"
                   name="idClient"/>
        </div>
    </div>
    <div class="form-group">
        <label for="fieldRoomId" class="col-sm-2 control-label"> Room id
        </label>
        <div class="col-sm-4">
            <input type="number" required class="form-control" id="fieldRoomId"
                   name="idRoom"/>
        </div>
    </div>
    <div class="form-group">
        <label for="fieldDateFrom" class="col-sm-2 control-label"> From
        </label>
        <div class="col-sm-4">
            <input type="date" required class="form-control" id="fieldDateFrom"
                   name="dateFrom"/>
        </div>
    </div>
    <div class="form-group">
        <label for="fieldDateTo" class="col-sm-2 control-label"> To
        </label>
        <div class="col-sm-4">
            <input type="date" required class="form-control" id="fieldDateTo"
                   name="dateTo"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>
