<div class="page-header">
    <h3>rooms:</h3>
    <form method="post" action="/process?form=contactus">
        <input type="text" id="login"/>
        <input type="password" id="password"/>
        <input type="number" id="id"/>
        <input type="submit" />
    </form>
</div>