{{>incorrectForm}}
<form class="form-horizontal" role="form" method="POST"
      action="/roomAdd/?form=roomAdd">
    <div class="form-group">
        <label for="fieldNumber" class="col-sm-2 control-label"> Number
        </label>
        <div class="col-sm-4">
            <input type="number" required class="form-control" id="fieldNumber"
                   name="number">
        </div>
    </div>
    <div class="form-group">
        <label for="fieldCountOfPeople" class="col-sm-2 control-label"> Count of people
        </label>
        <div class="col-sm-4">
            <input type="number" required class="form-control" id="fieldCountOfPeople"
                   name="countOfPeople">
        </div>
    </div>
    <div class="form-group">
        <label for="fieldType" class="col-sm-2 control-label"> Type
        </label>
        <div class="col-sm-4">
            <input type="text" required class="form-control"
                   id="fieldType" name="type">
        </div>
    </div>
    <div class="form-group">
        <label for="fieldPrice" class="col-sm-2 control-label"> Price
        </label>
        <div class="col-sm-4">
            <input type="number" step="0.1" required class="form-control" id="fieldPrice"
                   name="price">
        </div>
    </div>
    <div class="form-group">
        <label for="fieldDescription" class="col-sm-2 control-label"> Description
        </label>
        <div class="col-sm-4">
            <textarea class="form-control"
                   id="fieldDescription" name="description"> </textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>
